<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World NEW</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kun.uz</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class="container">
        {% if request.user.is_authenticated%}
        {% include 'login_navbar.html' %}

        <hr>
        {% for l_new in l_news %}
        <div class="maqola">
            <h2>{{ l_new.title }}</h2>
            <p>{{ l_new.description }}</p>
            <h3>Author: {{ l_new.author }}</h3>
            <p>Yaratilgan vaqti: {{ l_new.created_at }}</p>
            <hr>
        </div>
        {% endfor %}
        {% else %}
        {% include 'navbar.html' %}

        <hr>
        {% for l_new in l_news %}
        <div class="maqola">
            <h2>{{ l_new.title }}</h2>
            <p>{{ l_new.description }}</p>
            <h3>Author: {{ l_new.author }}</h3>
            <p>Yaratilgan vaqti: {{ l_new.created_at }}</p>
            <hr>
        </div>
        {% endfor %}
        {% endif %}

        
    </div>
</body>
</html>
    
</body>
</html>