<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World NEW</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kun.uz</title>
   
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <hr>
        {% for w_new in w_news %}
        <div class="maqola">
            <h2>{{ w_new.title }}</h2>
            <p>{{ w_new.description }}</p>
            <h3>Author: {{ w_new.author }}</h3>
            <p>Yaratilgan vaqti: {{ w_new.created_at }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>
</html>
    
</body>
</html>